<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhouhy.spring.dao.ProductDao">
    <insert id="save" parameterType="product">
        insert into t_product(prodId,stock,price) values (#{prodId},#{stock},#{price}) 
    </insert>

    <select  id="searchByProdId" parameterType="java.lang.String" resultType="product">
        select p.prodId,p.stock,p.price from t_product p where p.prodId=#{prodId} 
    </select >

    <update id="updateStock" parameterType="product">
        update t_product set stock = #{stock} where id= #{id} 
    </update>
</mapper>