<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhouhy.spring.dao.UserDao">
    <insert id="save" parameterType="user">
        insert into t_user(username,password,balance) values (#{username},#{password},#{balance}) 
    </insert>

    <select id="searchByUsername" parameterType="java.lang.String" resultType="user">
        select u.id,u.username,u.balance from  t_user u where u.username=#{username} 
    </select>

    <update id="updateBalance" parameterType="user">
        update t_user set balance = #{balance} where id= #{id} 
    </update>
</mapper>