<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans           
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.2.xsd">



    <bean id="dbparameters" class="org.zhouhy.spring.bean.DBParameters">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/spring-framework?useSSL=false&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="connection" class="org.zhouhy.spring.factorybean.ConnectionFactoryBean">
        <property name="dbParameters" ref="dbparameters"/>
    </bean>

    <bean id="connfactory" class="org.zhouhy.spring.factory.ConnectionFactory"/>
    <bean id="conn" factory-bean="connfactory" factory-method="createConnection"/>

    <bean id="dbconn" class="org.zhouhy.spring.staticfactory.StaticConnectionFactory"
          factory-method="createConnection" />

    <bean id="dbconn1" class="org.zhouhy.spring.staticfactory.StaticConnectionFactory"
          factory-method="createConnection1" >
        <constructor-arg type="java.lang.String" value="com.mysql.jdbc.Driver"/>
        <constructor-arg type="java.lang.String" value="jdbc:mysql://127.0.0.1:3306/springframework-s?useSSL=false&amp;serverTimezone=UTC"/>
        <constructor-arg type="java.lang.String" value="root"/>
        <constructor-arg type="java.lang.String" value="root"/>
    </bean>
</beans>