<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    
    <bean id="developer" class="org.zhouhy.spring.target.impl.Developer"/>

    <bean id="developerHelper" class="org.zhouhy.spring.aspect.DeveloperHelper"/>


    <aop:config>
        <aop:pointcut id="devPointer" expression="execution(* org.zhouhy.spring.target.impl.Developer.*(..))"/>
        <aop:advisor advice-ref="developerHelper" pointcut-ref="devPointer"/>
    </aop:config>


    <bean id="managerHelper" class="org.zhouhy.spring.aspect.ManagerHelper"/>

    <aop:config>
        <aop:pointcut expression="execution(* org.zhouhy.spring.target.impl.Manager.*(..))" id="managerPointcut"/>
        <aop:aspect ref="managerHelper">
            <aop:before method="beforeWork" pointcut-ref="managerPointcut"/>
            <aop:after method="afterWork" pointcut-ref="managerPointcut"/>
        </aop:aspect>
    </aop:config>

    <bean id="manager" class="org.zhouhy.spring.target.impl.Manager"/>
</beans>